.profile-img {
  width: 100%;

  border: 2px #000000 solid;
  clip-path: polygon(2% 1%, 4% 27%, 2% 51%, 6% 98%, 23% 88%, 38% 98%, 49% 88%, 60% 94%, 96% 97%, 97% 68%, 90% 48%, 98% 20%, 72% 3%, 42% 9%);
}
.profile-img--container {
  clip-path: polygon(2% 1%, 4% 27%, 2% 51%, 6% 98%, 23% 88%, 38% 98%, 49% 88%, 60% 94%, 96% 97%, 97% 68%, 90% 48%, 98% 20%, 72% 3%, 42% 9%);
  width: 250px;
}
.about--container {
  display: flex;

}
.about--description {
  margin-left: 10px;
  margin-top: 10px;
}
.name {
  display: flex;
  align-items: center;

  p {
    font-size: 18px;
    margin-left: 5px;
  }
}
.about--titles {
  font-size: 18px;
  color: black;
  margin: 0;
}