.work-container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  align-items: center;
  justify-content: center;
}
.image--square {
  width: 200px;
  height: 150px;
  opacity: 55%;
  position: relative;
  background-color: gray;

}
.work-images {
  width: 100%;
  height: 100%;

  border-radius: 15%;
}
.test {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 15%;


}


