.contacts--part {
  display: flex;
  align-items: center;
  gap: 15px;
  .contacts-title {
    font-size: 22px;
    color: greenyellow;
    margin: 0;
    text-shadow: 0 0 5px #FF0000;
  }
  .contacts-desc {
    font-size: 18px;
    color: whitesmoke;
    text-shadow: 1px 1px 5px #0050ff;

  }
}
.linkedin-link {
  border-bottom-radius: 2px;
  font-size: 16px;
  color: whitesmoke;
  text-shadow: 1px 1px 5px #0050ff;
}
.contacts-container {
  display: flex;
  justify-content: center;
  align-items: center;
}